.EmptyState,
.ErrorState {
    height: 100%;
    text-align: center;

    &-cardBody {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.ErrorState-headingText {
    color: darkgrey;
}

.container_heading{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .container_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }
  
  .header{
    display: flex;
    font-size: 15px;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;

  
  }
  
  .my_container{
    background-color: #fff;
    border: 1px solid #edeef0;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    height: 250px;
  }
  .my_container div{
    display: flex;
    margin: 0;
    outline-style: solid;
    outline-width: 0;
    padding: 0;
  }
  
  .my_errors p{
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
  }
  
  .my_errors span{
    font-size: 32px;
  }
  
  #disruption{
    color: #a17825;
  }
  
  .my_errors div{
    flex-direction: column;
    // font-size: 12px;
    width: 33.33%;
    margin: 2px;
    padding: 5px;
    border: 1px solid #d9d9dc;
    border-radius: 8px;
    align-items: center;
    height: 80px;
  }
  .error_box{
    background-color: #fcf1f1;
  }
  .sli_box{
    background-color: #f9fafc;
  }
  .disruption_box{
    background: rgba(250,193,78,.1);
  }
  
  .my_mainaws_container{
    display: flex;
    justify-content: space-between;
  }
  
  .my_mainaws_container div{
    padding: 10px 0px;
    font-weight: 500;
    padding: 2px;
    margin-top: 12px;
    display: flex;
    // justify-content: space-between;
  }
  
  
  .my_aws_counts {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 47%;
  }
  
  .my_aws_counts div{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #edeef0;
    font-weight: 500;
    padding: 2px;
    margin-top: 12px;
  }

  
  .my_details {
    font-size: 13px;
    padding: 10px;
  }
  
  .my_aws_started {
    color: #f01010;
    background: rgba(240, 16, 16, 0.11);
  }

  .modal_content{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid rgb(224, 201, 201);
    background-color: rgb(255, 211, 211);
    margin: 5px;
  }

  .modal_content p{
    padding: 10px;
  }
  .modal_button{
    padding: 5px;
    margin: 5px;
    color: #2263e6;
    background: rgba(34,99,230,.12);
  }
  .content_in_one_line{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content_in_one_line div{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
  }

  table {
    margin: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th{
    background-color: rgb(255, 175, 251);
    font-weight: bold;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  td {
    background-color: #e6e6e6;
  }

  .closeModal{
    top: 100px;
    left: 100px;
    position: absolute;
    z-index: 0;
    width: 900px;
    height: 400px;
    // background-color: red;
  }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 98%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
  }